@use '/src/assets/styles/color' as color;
@use '/src/assets/styles/mixin';

.container {
    .pagination {

        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 60px;
        .page {
            display: flex;

            width: 34px;
            padding: 6px 13px 4px 13px;
            // border: 1px solid #000;
            height: 34px;

            font-family: 'Questrial', sans-serif;
            @include mixin.font-setting(18px, 400, color.$Primary);
            line-height: 24px;
        }
    }
}
