@use '/src/assets/styles/color' as color;
@use '/src/assets/styles/mixin';
.container {
    // display: none;
}
.personalInfo {
    // display: none;
    // border: 1px solid color.$Neutral_04;
    .nameContainer {
        display: flex;

        .salutation {
            display: flex;
            flex-direction: column;
            width: 30%;
            margin-right: 5%;
            // border: 1px solid #000;
        }

        .name {
            width: 65%;
        }
    }

    .contact {
        display: flex;
        margin: 10px 0;
        .phone {
            width: 47.5%;
            margin-right: 5%;
        }
        .email {
            width: 47.5%;
        }
    }
    .city {
        display: flex;
        .cityContainer {
            display: flex;
            flex-direction: column;
            width: 30%;
            margin-right: 5%;
            // border: 1px solid #000;
        }

        .address {
            width: 65%;
        }
    }
}
h3 {
    @include mixin.font-setting(28px, 700, color.$Primary);
}
select {
    // width: 100%;
    height: 40px;
    border: 1px solid color.$Neutral_04;
    border-radius: 5px;
    @include mixin.font-setting(16px, 400, color.$Neutral_04);
    padding-left: 10px;
}
select option {
    padding-left: 10px;
}
label {
    display: flex;
    margin: 10px 0;
    @include mixin.font-setting(16px, 700, color.$Primary);
}
input {
    width: 100%;
    height: 40px;
    border: 1px solid color.$Neutral_04;
    border-radius: 5px;
    @include mixin.font-setting(16px, 400, color.$Neutral_04);
}
option {
    height: 40px;

    border-radius: 5px;
}
::placeholder {
    padding-left: 10px;
}
