@use '/src/assets/styles/color' as color;
@use '/src/assets/styles/mixin';
.container {
    position: relative;
    h3 {
        cursor: pointer;
        @include mixin.font-setting(28px, 700, color.$Primary);
    }
    .addressBox {
        padding-top: 12px;
        display: flex;
        @include mixin.font-setting(18px, 400, color.$Primary);

        > div {
            border: 1px solid color.$Neutral_04;
            border-radius: 5px;

            padding: 10px;
            width: 100%;
        }
        .changeButton {
            background-color: transparent;
            @include mixin.font-setting(16px, 700, color.$Primary);
            padding: 5px;
        }
    }
    .personalInfo {
        position: relative;
        .cross {
            position: absolute;
            right: 0;
            top: 8px;
            background-color: transparent;
        }
        label {
            display: flex;
            margin: 10px 0;
            @include mixin.font-setting(16px, 700, color.$Primary);
        }
        .nameContainer {
            display: flex;

            .salutation {
                display: flex;
                flex-direction: column;
                width: 30%;
                margin-right: 5%;
                // border: 1px solid #000;
                select {
                    // width: 100%;
                    height: 40px;
                    border: 1px solid color.$Neutral_04;
                    border-radius: 5px;
                    @include mixin.font-setting(16px, 400, color.$Neutral_04);
                    padding-left: 10px;
                }
            }
            .name {
                width: 65%;
            }
        }

        .contact {
            display: flex;
            margin: 10px 0;
            .phone {
                width: 47.5%;
                margin-right: 5%;
            }
            .email {
                width: 47.5%;
            }
        }
        .city {
            display: flex;
            .cityContainer {
                display: flex;
                flex-direction: column;
                width: 30%;
                margin-right: 5%;
                // border: 1px solid #000;
                select {
                    // width: 100%;
                    height: 40px;
                    border: 1px solid color.$Neutral_04;
                    border-radius: 5px;
                    @include mixin.font-setting(16px, 400, color.$Neutral_04);
                    padding-left: 10px;
                }
            }

            .address {
                width: 65%;
            }
        }
    }
    .saveButton {
        // width: 100%;
        position: absolute;
        right: 0;
        padding: 0 20px;
        height: 40px;
        border-radius: 5px;
        @include mixin.font-setting(16px, 700, color.$Neutral_01);
        background-color: color.$Primary;
        margin-top: 20px;
        cursor: pointer;
    }
}
input {
    width: 100%;
    height: 40px;
    border: 1px solid color.$Neutral_04;
    border-radius: 5px;
    @include mixin.font-setting(16px, 400, color.$Neutral_04);
    padding: 10px;
}
// ::placeholder {
//     padding-left: 10px;
// }
