@use '/src/assets/styles/color' as color;
@use '/src/assets/styles/_mixin.scss';
@import 'bootstrap/scss/bootstrap';

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;


    .img {
        width: 115px;
        height: 40px;
        display: flex;
        margin: auto 0;
    }

    .navList {
        display: flex;
        align-items: center;
        gap: 48px;
        margin: 0 48px;
    }

    // .search {
    //     display: flex;
    //     padding: 12px 20px 12px 16px;
    //     align-items: center;
    //     gap: 12px;
    //     border-radius: 46px;
    //     background: color.$Neutral_01;

    //     .searchInput {
    //         border: none;
    //         width: 100%;
    //         font-family: Questrial;
    //         line-height: 20px;
    //         @include mixin.font-setting(14px, 400, color.$Neutral_04);
    //     }
    // }
    button {
        border: none;
    }

    @media (max-width: 991px) {
        .img {
            display: block;
            margin: 0 auto;
        }
        .btn,
        .searchInput {
            display: none;
        }
        .search {
            background-color: transparent;
        }
    }
}
