.container {
    display: inline-block;
    padding: 0 20vw;
    width: 100%;
    margin: 50px auto;
    border: 1px solid #000;
    // margin: 50px auto;
    .mainContainer {
        display: flex;
        justify-content: space-between;
        border: 1px solid #000;
    }
}
