@use '/src/assets/styles/color' as color;
@use '/src/assets/styles/mixin';
.container {
    height: 378px;
    display: flex;
    justify-content: space-around;
    background: color.$CarolPink;
    // border: 1px solid #000;
    width: 1180px;
    border-radius: 20px;
    position: relative;

    .left {
        display: flex;
        flex-direction: column;
        padding: 64px 0 0 65px;
        .titleBox {
            display: flex;

            .title {
                display: flex;
                justify-content: flex-start;
                @include mixin.font-setting(52px, 700, color.$Primary);
                line-height: 68px;
                margin-right: 16px;
            }
            .paw {
                width: 42px;
                height: 38px;
                display: flex;
                margin: auto 0;
            }
        }

        .subtitle {
            display: flex;
            justify-content: flex-start;
            @include mixin.font-setting(36px, 400, color.$Primary);
            text-transform: capitalize;
            line-height: 54px;
            margin-bottom: 8px;
        }
        .text {
            width: 394px;
            display: flex;
            // justify-content: end;
            text-align: left;
            margin-bottom: 24px;
            @include mixin.font-setting(12px, 400, color.$Neutral_07);
            line-height: 18px;
        }
        .buttons {
            display: flex;
            justify-content: flex-start;
            gap: 20px;

            .viewIntro {
                border: 1px solid #000;
            }
        }
    }
    .right {
        // padding: 36px 0 0 0px;
        // position: absolute;
        // left: 20px;
        // top: 36px;
        // border: 1px solid #fff;
        .lightBox {
            position: absolute;
            background-color: color.$Secondary_40;
            width: 782px;
            height: 635px;
            border-radius: 99px;
            transform: rotate(25.23deg);
            flex-shrink: 0;
            left: 506px;
            top: -220px;
        }
    }
}
