@use '/src/assets/styles/color' as color;
@use '/src/assets/styles/mixin';
.container {
    width: 380px;
    height: 424px;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
    .img {
        width: 364px;
        height: 243px;
        object-fit: cover;
        border-radius: 10px;
    }

    .contentContainer {
        overflow: hidden;
        padding: 8px;
        .title {
            margin-bottom: 6px;
            line-height: 24px;
            @include mixin.font-setting(16px, 700, color.$Neutral_07);
        }
        .tag {
            display: flex;
            align-items: center;
            padding: 2px 10px;
            margin-bottom: 8px;
            width: 89px;
            height: 20px;
            background-color: color.$BlueSea;
            border-radius: 28px;
            line-height: 16px;
            @include mixin.font-setting(10px, 400, color.$Neutral_01);
        }
        .content {
            display: flex;
            width: 348px;
            height: 60px;
            line-height: 20px;
            @include mixin.font-setting(14px, 400, color.$Neutral_07);

            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
            white-space: pre-wrap; /* let the text wrap preserving spaces */
        }
    }
}
