@use '/src/assets/styles/color' as color;
@use '/src/assets/styles/mixin';
.container {
    display: flex;
    // flex-direction: column;
    max-width: 1200px;
    margin: 35px 130px 0;
    // justify-content: space-between;
    gap: 28px;
    font-family: Questrial;
    .filterContainer {
        width: 280px;
        // border: 1px solid #000;
        .filterTitle {
            @include mixin.font-setting(24px, 400, color.$Primary);
            line-height: 36px;
        }
    }
    .gender,
    .age,
    .size {
        padding: 16px 0;
        border-bottom: 1px solid color.$Neutral_02;
    }
    .cardContainer {
        width: 100%;
        // border: 1px solid #000;
        .cardContainerHeader {
            display: flex;
            justify-content: space-between;
            .filterTitle {
                @include mixin.font-setting(24px, 400, color.$Primary);
                line-height: 36px;
                margin-bottom: 14px;
            }
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            width: 100%;
        }
    }
}
label {
    @include mixin.font-setting(14px, 400, color.$Neutral_07);
    line-height: 20px;
    margin-bottom: 8px;
}
h5 {
    @include mixin.font-setting(16px, 400, color.$Neutral_07);
    line-height: 24px;

    margin-bottom: 10px;
}
