@use '/src/assets/styles/color' as color;
@use '/src/assets/styles/_mixin.scss';
@import 'bootstrap/scss/bootstrap';

.container {

    // border: 1px solid #000;
    // padding: 8px 8px 0px 8px;
    border-bottom: 2px solid color.$Neutral_03;

    display: flex;
    padding: 10px 0;
    &:first-of-type {
        padding-top: 0;
    }
    &:last-of-type {
        padding-bottom: 0;
        border-bottom: none;
    }

    .img {
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: 10px;
        margin-right: 15px;
        margin-top: 8px;
        display: flex;
        align-items: center;
    }
    .content {
        padding: 8px 0 0 0;
        font-family: Questrial;
        // border: 1px solid #000;
        .petName {
            line-height: 24px;
            @include mixin.font-setting(16px, 700, color.$Neutral_07);

            margin: 0px;
        }
        .descriptionBox {
            display: flex;
            flex-direction: column;
        }
        .description {
            line-height: 18px;
            @include mixin.font-setting(14px, 400, color.$Neutral_05);
            margin: 0px;
        }
    }
}
a{
    text-decoration: none;

}
