@use '/src/assets/styles/color' as color;
@use '/src/assets/styles/mixin';

.container {
    width: 280px;
    // height: 378px;
    border-radius: 12px;
    padding: 8px 8px 0px 8px;
    // background-color: color.$Neutral_01;
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
    .img {
        width: 264px;
        height: 264px;
        object-fit: cover;
        border-radius: 12px;
    }
    .content {
        padding: 8px 8px 20px 8px;
        .title {
            line-height: 24px;
            @include mixin.font-setting(16px, 700, color.$Neutral_07);
            height: 48px;
        }
        .description {
            line-height: 18px;
            @include mixin.font-setting(12px, 400, color.$Neutral_05);
        }
        .price {
            line-height: 24px;
            @include mixin.font-setting(18px, 400, color.$Neutral_07);
        }
        .icons {
            display: flex;
            justify-content: flex-end;
            .cart {
                padding: 2px;
                background-color: color.$Primary;
                border-radius: 50px;
            }
            .heart {
                padding: 2px;
                background-color: color.$Primary;
                border-radius: 50px;
                margin-left: 40px;
            }
        }
    }
}
