.container {
    min-width: 540px;

    .paymentInfo {
        display: flex;
        min-width: 540px;
        width: 100%;
        margin-top: 20px;
        .paymentMethod {
            flex: 1;
            border: 1px solid #e5e5e5;
            .creditCard {
                display: flex;
                margin-bottom: 20px;

                input{
                  width: 20px;
                margin-right: 20px;
                }
            }
            .paypal {
                display: flex;
                margin-bottom: 20px;  
                input{
                  width: 20px;
                  margin-right: 20px;
                }
            }
            .cardInfo {
                width: 100%;
                // border: 1px solid cyan;
                input{
                  width: 80%;
                  
                }
            }
        }
    }
}
