@use '/src/assets/styles/color' as color;
@use '/src/assets/styles/mixin';

.container {
    // border: 1px solid #000;
    min-width: 540px;
    margin: 72px 0;
    font-family: 'Questrial';
    h3 {
        color: color.$Primary;
    }
    .shipMethod > div {
        font-family: 'Questrial';
        border: 1px solid color.$Neutral_04;
        display: flex;
        width: 80%;
        height: 60px;
        margin-top: 24px;
        border-radius: 4px;
        position: relative;
        input {
            width: 20px;
            margin: auto 20px;
            cursor: pointer;

            // margin: 20px;
            :checked {
                border: 1px solid #000;
            }
        }

        .feeText {
            display: flex;
            // border: 1px solid #000;
            align-items: center;
            @include mixin.font-setting(16px, 400, color.$Primary);
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

label {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    .text {
        @include mixin.font-setting(16px, 700, color.$Primary);
    }
    .description {
        @include mixin.font-setting(14px, 400, color.$Primary);
    }
}
