@use '/src/assets/styles/color' as color;

.container {
    width: 100%;
    background: color.$Secondary_40;
    border-radius: 0px 0px 40px 40px;
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}