@use '/src/assets/styles/color' as color;
@use '/src/assets/styles/mixin';

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    .text {
        @include mixin.font-setting(16px, 400, #000);
        line-height: 24px;
    }
    .title {
        @include mixin.font-setting(24px, 700, color.$Primary);
        text-transform: capitalize;
        line-height: 36px;
    }
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media screen and (max-width: 576px) {
    .titleContainer {
        flex-direction: column;
        align-items: flex-start;
        margin: 40px 0 20px 0;
        .right {
            display: none;
        }
    }
    .cardContainer {
        // display: flex;
        // flex-wrap: wrap;
        // flex-direction: row;
        width: 100%;
        border: 1px solid #000;
        grid-template-columns: repeat(2, minmax(185px, 1fr));
    }
}
