@use '/src/assets/styles/color' as color;
@use '/src/assets/styles/mixin';

.container {
    background-color: color.$Secondary_40;
    display: flex;
    flex-direction: column;
    padding: 80px 130px 40px 130px;
    border-radius: 40px 40px 0px 0px;
    .registerContainer {
        background-color: color.$Primary;
        border-radius: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 32px;
        width: 1180px;
        margin: 0 auto;
        .left {
            @include mixin.font-setting(24px, 400, color.$Neutral_01);
            width: 389px;
            font-family: 'Questrial';
            text-transform: capitalize;
            line-height: 36px;
            letter-spacing: 1px;
        }
        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            // gap: 16px;
            padding: 12px;
            background-color: color.$Neutral_01;
            border: 1px solid #000;
            height: 72px;
            border-radius: 14px;

            .input {
                width: 452px;
                height: 48px;
                padding: 14px 28px;
                margin-right: 12px;
                border-radius: 8px;
                border: 1px solid color.$Neutral_04;
            }
            .button {
                width: 163px;
                height: 48px;
                @include mixin.font-setting(16px, 400, color.$Neutral_01);
                font-family: 'Questrial';
                border-radius: 8px;
                background-color: color.$Primary;
            }
        }
    }
    .navBarContainer {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
        max-width: 1180px;
        width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid color.$Neutral_03;
        .navLeft {
            display: flex;
            align-items: center;
            gap: 60px;
        }
        .navRight {
            .socialMedia {
                margin-left: 40px;
            }
        }
    }
    .copyRight {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 20px;
        height: 40px;
        margin: 40px auto;
        padding-top: 40px;
        max-width: 1180px;
        width: 100%;
        // border: 1px solid #000;
        // margin: 40  auto  0 auto;
        @include mixin.font-setting(14px, 400, color.$Neutral_05);
    }
}
