@use '/src/assets/styles/color' as color;
@use '/src/assets/styles/_mixin.scss';

.link {
    text-decoration: none;

    .titleClasses {
        font-family: Questrial;
        @include mixin.font-setting(16px, 400, color.$Primary);
        &:hover {
            color: color.$Primary;
        }
    }
}
a {
    text-decoration: none;
}
