// Neutrals
// Colors used for backgrounds, text, dividers, etc.
$Neutral_01: #FDFDFD; 
$Neutral_02: #EBEEEF;
$Neutral_03: #CCD1D2;
$Neutral_04: #99A2A5;
$Neutral_05: #667479;
$Neutral_06: #242B33;
$Neutral_07: #00171F;

// Colors used for logos and icons
$Primary: #003459;
$Primary_80: #002A48;
$Primary_60: #00528C;
$Primary_40: #0078CD;
$Secondary:#F7DBA7;
$Secondary_80: #EEC77E;
$Secondary_60: #F1D092;
$Secondary_40: #FCEED5;

// State Color
$PinkRed:#FF564F;
$GreenLight:#34C759;
$OrangeShine:#FF912C;
$BlueSea:#00A7E7;
$CarolPink:#FFB775;

