@use '/src/assets/styles/color' as color;
@use '/src/assets/styles/_mixin.scss';
@import 'bootstrap/scss/bootstrap';

.container {
    // border: 1px solid #000;
    display: flex;
    flex-direction: column;
    padding: 12px 20px 12px 16px;
    width: 280px;
    align-items: center;
    gap: 12px;
    border-radius: 46px;
    background: color.$Neutral_01;
    .searchBox {
        display: flex;
        position: relative;
        .searchInput {
            border: none;
            margin-left: 10px;
            width: 100%;
            font-family: Questrial;
            line-height: 20px;
            @include mixin.font-setting(14px, 400, color.$Neutral_04);
        }
    }
}

.dropdown {
    text-decoration: none;
    position: absolute;
    top: 55px;
    
    width: 280px;
    // box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
    // border: 1px solid #000;

    // padding: 15px;

    .dropdownList {
        background-color: color.$Neutral_01;
        border-radius: 20px;
        padding: 15px;
        text-align: center;
        font-family: Questrial;
    }
}

@media (max-width: 991px) {
    .container {
        .searchInput {
            display: none;
        }
        .search {
            background-color: transparent;
        }
    }
}
