@use '/src/assets/styles/color' as color;
@use '/src/assets/styles/_mixin.scss';
@import 'bootstrap/scss/bootstrap';

.searchBox {
    // z-index: 1;
    background: color.$Neutral_01;
    @include mixin.font-setting(14px, 400, color.$Neutral_04);
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 50px;
    flex: 1;
    width: 280px;
    // border: 1px solid #000;
    // .searchBox {
    //     display: flex;
    //     position: relative;
        .searchInput {
            border: none;
            margin-left: 10px;
            width: 100%;
            font-family: Questrial;
            line-height: 20px;
            
    
        }
    
    .loading {
        position: relative;
        // border: 1px solid #000;
        svg {
            position: absolute;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            top: 0px;
        }
    }
    .dropdown {
        text-decoration: none;
        position: absolute;
        top: 55px;
        // width: 280px;
        width: 100%;
        // box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
        // border: 1px solid #000;
        left: 0;

        // padding: 15px;

        .dropdownList {
            background-color: color.$Neutral_01;
            border-radius: 20px 20px 0 0;
            padding: 15px;
            text-align: center;
            font-family: Questrial;
        }
        .seeAll {
            text-decoration: none;
            font-family: Questrial;
            display: flex;
            justify-content: center;
            background: color.$Neutral_01;
            border-radius: 0 0 20px 20px;
            @include mixin.font-setting(18px, 400, color.$Neutral_04);
            border-top: 2px solid color.$Neutral_03;
            &:hover {
                color: color.$Primary_80;
            }
        }
    }
}

@media (max-width: 991px) {
    .container {
        .searchInput {
            display: none;
        }
        .search {
            background-color: transparent;
        }
    }
}
ul {
    margin-bottom: 0;
}
