@use '/src/assets/styles/color.scss' as color;
@use '/src/assets/styles/mixin';

.container {
    display: flex;
    height: 595px;
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 576px;
    width: 100%;

    .left {
        align-items: center;
        margin-left: 55px;
        .title {
            @include mixin.font-setting(60px, 700, color.$Primary_80);
            text-transform: capitalize;
            line-height: 68px;
            margin: 80px 0 4px 0px;
        }
        .subtitle {
            @include mixin.font-setting(46px, bold, color.$Primary_80);
            line-height: 60px;
            margin-bottom: 24px;
        }
        .text {
            @include mixin.font-setting(16px, 400, color.$Primary_80);
            line-height: 24px;
            width: 480px;
            margin-bottom: 34px;
        }
        .buttons {
            display: flex;
            gap: 23px;

            .viewIntro {
                .playCircle {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
    .right {
        .img {
            position: absolute;
            // border: 1px solid #000;
            right: -34px;
            bottom: 0;
        }
    }
}

@media screen and (max-width: 991px) {
    .container {
        height: 690px;
        display: flex;
        flex-direction: column;
        .left {
            display: flex;
            flex-direction: column;
            margin: 0 auto;

            .title {
                @include mixin.font-setting(46px, 700, color.$Primary_80);
                text-transform: capitalize;
                line-height: 60px;
                margin-top: 35px;
            }
            .subtitle {
                @include mixin.font-setting(28px, bold, color.$Primary_80);
                line-height: 38px;
                margin-bottom: 24px;
            }
            .text {
                @include mixin.font-setting(12px, 400, color.$Primary_80);
                line-height: 18px;
                width: 480px;
                margin-bottom: 34px;
            }
        }
        .right {
            position: relative;

            .img {
                display: flex;
                height: 386px;

                position: relative;
                margin: 0 auto;
                bottom: 0;
            }
        }
    }
}
